.lines {
  display: inline-block;
  line-height: 2rem;
  min-width: 13rem;
  text-align: right;
}

.stations {
  whitespace: nowrap;
}

.U1, .U3, .U7, .U6, .S1, .S2, .S25, .S26 {
  color: #fff;
  display: inline-block;
  font-family: sans-serif;
  line-height: 1.5rem;
  min-width: 3rem;
  padding: .1rem .25rem 0;
  text-align: center;
}

.U1, .U3, .U7, .U6 {
  border-radius: 0;
}

.S1, .S2, .S25, .S26 {
  border-radius: .75rem;
}

.U1 {
  background-color: #55A822;
}

.U3 {
  background-color: #019377;
}

.U6 {
  background-color: #6F4E9C;
}

.U7 {
  background-color: #3690C0;
}

.S1 {
  background-color: #eb588f;
}

.S2, .S25, .S26 {
  background-color: #047939;
}

td {
  border: 0;
}

footer {
  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.sidebar,
.cover {
  display: block;
  height: 60vh;
  transition: none;

  @media only screen and (min-width: 640px) {
    height: 75vh;
  }

  @media only screen and (min-width: 960px) {
    height: 100vh;
  }

  .cover-text {
    bottom: 0;

    @media only screen and (min-width: 640px) {
      bottom: 20%;
    }
  }
}

.nav-main {
  .blog-logo {
    overflow: hidden;
    padding: 0 0 0 2rem;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.heading {
  overflow: hidden;
  text-overflow: ellipsis;
}

form {
  background-color: #f2f2f2;
  border-radius: .25rem;
  border: 1px solid #e6e6e6;
  display: inline-block;
  margin: 2rem auto 0;
  padding: 1rem;
  width: 100%;

  @media only screen and (min-width: 640px) {
    margin: 2rem 5rem auto;
    width: calc(100% - 10rem);
  }

  h4 {
    margin: 0 auto 1rem;
  }

  label {
    margin: 1rem 0 0;
    font-size: 12px;
    display: block;
  }

  input {
    border: 1px solid #e6e6e6;

    &.email {
      background-color: #ffffff;
      border-radius: .25rem 0 0 .25rem;
      display: inline-block;
      margin-right: -4px;
      padding: calc(0.5rem - 1px);
      width: calc(100% - 101px);

      &:focus-visible {
        outline: none;
      }
    }

    &.button {
      background-color: #e6e6e6;
      border-radius: 0 .25rem .25rem 0;
      display: inline-block;
      padding: 0.5rem;
      width: 100px;
    }
  }
}
