<footer class="blog-footer content-wrapper">
  <p>&copy; <span class="full-year"></span> &bull; <a href="{{ '/imprint' | prepend: site.baseurl}}">Impressum</a> &bull; <a href="{{ '/privacy' | prepend: site.baseurl }}">Datenschutzbestimmungen</a></p>
</footer>
<script src="{{ site.baseurl }}/assets/js/scripts.js"></script>
